<div class="abc">

  <div style="padding-top: 20px" class="container">
    <div class="row">
      <div style="align-items: center" class="d-flex flex-row col-sm-6">
        <div>
          <img style="max-height: 100% ;max-width : 80%" src="../assets/humit-icon.png">
        </div>
      </div>
      <div class="col-sm-6">
        <!-- <nav style="justify-content: flex-end; padding-right: 0rem" class="navbar navbar-expand-sm">

          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link py-0" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link py-0" href="#">About us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link py-0" href="#">Preview</a>
            </li>
            <li class="nav-item">
              <a class="nav-link py-0" href="#">Video</a>
            </li>
            <li class="nav-item">
              <a class="nav-link py-0" href="#">Contact us</a>
            </li>
          </ul>

        </nav> -->
      </div>
    </div>
  </div>

  <div class="container first">
    <div class="row">
      <div class="d-flex flex-column col-sm-6">
        <div class="cursorText">
        <p>
          We’re trying to make music <br /> <b class = "tw"></b>
            super addictive.

        </p>
        </div>

        <div style="margin-top: 5%;">
          <div style=" width:100%; ">
            <!-- <input placeholder="Enter Email ID" style="background:transparent !important; color:#ffffff " type="text" id="ip2" /> -->
          <a href ="https://forms.gle/f4sT8yZabUYRjEEa7"> <button style="background:linear-gradient(74deg , #f7618b 2%, #2a7aff 123%) ; border-radius: 100px" type="button"
              class="btn early btn-primary">Get early access</button> </a>


          </div>

        </div>

        <div class = "d-flex flex-row" style=" margin-top: 5% ; font-family: 'Montserrat' ; font-size: 10px ; color: #677897 ; font-style: italic ; width : 40%">
          <div style= " margin-top: 4% ; width : 50%">
            powered by
          </div>
          <div class = "d-flex flex-column" style = "width : 50% ;">
            <div>
              <img  class="img-fluid" src="../assets/spotify.png">


            </div>
            <div class = "d-flex flex-row" style= "padding-top : 10px;">
              <div style= "margin-top : 5%; width : 50% ">
                <img  class="img-fluid play" src="../assets/play.png">

              </div>
              <div style= "width : 50% ">
                <img  class="img-fluid steveJobs" src="../assets/steveJobs.png">

              </div>


            </div>

          </div>

        </div>


      </div>
      <div class="d-flex flex-row col-sm-6">
        <div>
          <img class="img-fluid peterCat" src="../assets/peterCat.png">
        </div>

      </div>
    </div>

  </div>

  <div class="container fifth">
    <div class="d-flex flex-column row">
      <div style="text-align:center ;  font-size:26px; line-height: 1.42;color:#ffffff;font-family: 'Montserrat' ; margin-bottom: 15px">
        Introducing hums
      </div>
      <!-- <div style="text-align:center ;  font-size:12px; line-height: 1.88;color:#677897;font-family: 'Montserrat'">
        Video player like never before
      </div> -->
      <div>
        <img src="../assets/memory.png" class="img-fluid starboy">
      </div>

    </div>

  </div>


  <div class="container second">
    <div class="row">
      <div class="d-flex flex-column col-sm-6 vinylTextFlex">
        <div class = "vinylTextFlexFirstText">
          Discover conveniently.
          Share convincingly.
        </div>
        <div class = "vinylTextFlexSecondText">
          Gone are the days when you share music through YouTube links in the hope that your buddy heeds your reccomendations. Share hard-hitting moments from songs that your followers see on a feed they can conveniently sample through.

        </div>

      </div>
      <div class="col-sm-6 order-first order-md-0">
        <div>
          <img class="img-fluid vinyl" src="../assets/vinyl.png">
        </div>
      </div>
    </div>
  </div>


  <div class="container third">
    <div class="row">
      <div class="col-sm-6">
        <div>
          <img class="img-fluid mobile" src="../assets/feature.png">
        </div>


      </div>
      <div style="justify-content: center" class="d-flex flex-column col-sm-6">
        <div style="align-items: center" class = "d-flex flex-column">
          <div class = "mobileTextFlexFirstText">
            Combine music with memories.
          </div>
          <div class = "mobileTextFlexSecondText">
            Life turns into a music video when you have your headphones on. Attach visual elements to your hums to truly capture what a song makes you feel.

          </div>

        </div>

      </div>
    </div>

  </div>

  <div class="container fourth">
    <div class="row">
      <div class="d-flex flex-column col-sm-6 bioTextFlex">
        <div class = "bioTextFlexFirstText">
          Create a playlist out of anything you see.

        </div>
        <div class = "bioTextFlexSecondText">
          Create playlists on the go out of your feed, user profiles of other humit users as well as the various communities you’re a part of. You’re never going to run out of fresh music.


        </div>

      </div>
      <div class="col-sm-6 order-first order-md-0">
        <div>
          <img class="img-fluid bio" src="../assets/bio.png">
        </div>
      </div>
    </div>
  </div>



  <div class="container sixth">
    <div class="d-flex flex-column row">
      <div>
        <button
          type="button" class="btn getEarlyAccessBtnTwo btn-primary">Get early access</button>

      </div>
      <div style="text-align:center ;  font-size:26px; line-height: 1.42;color:#ffffff;font-family: 'Montserrat' ">
        Download Now :)
      </div>
      <div style="text-align:center ;  font-size:12px; line-height: 1.88;color:#677897;font-family: 'Montserrat'">
        Sign up to recieve the download link in your mailbox
      </div>
      <div style="padding-top:5%">
        <img src="../assets/signup.png" class="img-fluid signup">


      </div>
      <div style="padding-top: 5%">
        <button style="font-size: 14px; font-family: Montserrat; border-radius: 100px ; border-color: plum; background-color: #132638" type="button" class="btn btn-primary">Know
          more</button>

      </div>


    </div>

  </div>

  <div class="container seventh">
    <div style="border-top : solid 1px #3b5a78 ; border-bottom : solid 1px #3b5a78 ;" class="row">
      <div class="col-sm-8">
      <div style = "margin-top: 5% ; margin-bottom: 5% ; color : #677897 ; font-family: Montserrat ; text-align: left"><p>

        Music delivered byte-sized<br />

        Sign up to join!

      </div>

      </div>
      <div class="col-sm-4">

      </div>
    </div>
  </div>

  <!-- <div class="container eight">

    <img class = "img-fluid footer" src = "../assets/footer.png" /> -->
    <!-- <div style="justify-content: center ;  margin-top: 15%" class = "row">
      <div class = "iconDiv" >

        <img class= "img-fluid bottomIconApple" src = "../assets/apple.png" />


      </div>
      <div class = "iconDiv" >

        <img class= "img-fluid bottomIconSoundCloud" src = "../assets/soundcloud.png" />


      </div>
      <div  style = "margin-top: 0.5% ;font-family: Montserrat; font-size: 18px;  color: #91a7b3">

      Coming Soon


      </div>
      <div>

      </div>


    </div> -->
  <!-- </div> -->


</div>

<router-outlet></router-outlet>
