<div class="abc">

  <div style="padding-top: 20px" class="container">
    <div class="row">
      <div style="align-items: center" class="d-flex flex-row col-sm-6">
        <div>
          <img style="max-height: 100% ;max-width : 80%" src="../assets/humit-icon.png">
        </div>
      </div>
      <div class="col-sm-6">
        <nav style="justify-content: flex-end; padding-right: 0rem" class="navbar navbar-expand-sm">

          <!-- Links -->
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link py-0" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link py-0" href="#">About us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link py-0" href="#">Preview</a>
            </li>
            <li class="nav-item">
              <a class="nav-link py-0" href="#">Video</a>
            </li>
            <li class="nav-item">
              <a class="nav-link py-0" href="#">Contact us</a>
            </li>
          </ul>

        </nav>
      </div>
    </div>
  </div>

  <div class="container first">
    <div class="row">
      <div class="d-flex flex-column col-sm-6">
        <div style=" text-align: left; font-size:36px; width:75%; line-height: 1.42;color:#ffffff;font-family: 'Montserrat'">
          The all new way to <b>discover</b> music
        </div>

        <div style="margin-top: 5%;">
          <div style=" width:100%; ">
            <input type="text" id="ip2" />
            <button style="background:linear-gradient(74deg , #f7618b 2%, #2a7aff 123%) ; border-radius: 100px" type="button"
              class="btn early btn-primary">Get early access</button>


          </div>

        </div>

      </div>
      <div class="d-flex flex-row col-sm-6">
        <div>
          <img style="margin-top: -23%; margin-left: -35%;" class="img-fluid" src="../assets/beatles.png">
        </div>

      </div>
    </div>

  </div>


  <div class="container second">
    <div class="row">
      <div class="d-flex flex-column col-sm-6">
        <div style="text-align:left ;  font-size:26px; width:75%; line-height: 1.42;color:#ffffff;font-family: 'Montserrat'">
          Social discovery of music.
          Done right.
        </div>
        <div style="padding-top:2% ; font-size:12px; width:65%; line-height: 1.88;color:#677897 ;font-family: 'Montserrat'; text-align:left ;">
          Designed for all the music aficionados out there. Humit is
          the culmination of our quest in finding a way to express our
          music recommendations. Keeping music at the core of our mission.

        </div>

      </div>
      <div class="col-sm-6">
        <div>
          <img style="margin-top: -23%; margin-left: -10%;" class="img-fluid" src="../assets/vinyl.png">
        </div>
      </div>
    </div>
  </div>


  <div class="container third">
    <div class="row">
      <div class="col-sm-6">
        <div>
          <img class="img-fluid mobile" src="../assets/mobile.png">
        </div>


      </div>
      <div style="justify-content: center" class="d-flex flex-column col-sm-6">
        <div style="text-align:left ;  font-size:26px; width:65%; line-height: 1.42;color:#ffffff;font-family: 'Montserrat'">
          Discover what your friends are listening to
        </div>
        <div style="padding-top:2% ; font-size:12px; width:85%; line-height: 1.88;color:#677897 ;font-family: 'Montserrat'; text-align:left ;">
          Get all the benefits of an in-wall or in-cieling speaker system without any of the hassle.
          With that being said , Rohit has a valid dalit certificate and uses it to the fullest,
        </div>
      </div>
    </div>

  </div>

  <div class="container fourth">
    <div class="row">
      <div class="d-flex flex-column col-sm-6">
        <div style="text-align:left ;  font-size:26px; width:75%; line-height: 1.42;color:#ffffff;font-family: 'Montserrat'">
          The simplest bio for the music fanatic in you.
        </div>
        <div style="padding-top:2% ; font-size:12px; width:57%; line-height: 1.88;color:#677897 ;font-family: 'Montserrat'; text-align:left ;">
          His advice about how to practice Self-enquiry is unusually valuable because he worked hard at the practice
          himself; because he succeeded; and because he explains what to do very plainly and clearly.

        </div>

      </div>
      <div class="col-sm-6">
        <div>
          <img class="img-fluid bio" src="../assets/bio.png">
        </div>
      </div>
    </div>
  </div>

  <div class="container fifth">
    <div class="d-flex flex-column row">
      <div style="text-align:center ;  font-size:26px; line-height: 1.42;color:#ffffff;font-family: 'Montserrat' ">
        Introducing hums
      </div>
      <div style="text-align:center ;  font-size:12px; line-height: 1.88;color:#677897;font-family: 'Montserrat'">
        Video player like never before
      </div>
      <div>
        <img src="../assets/starboy.png" class="img-fluid starboy">
      </div>

    </div>

  </div>

  <div class="container sixth">
    <div class="d-flex flex-column row">
      <div>
        <button style=" width: 15% ;background:linear-gradient(74deg , #f7618b 2%, #2a7aff 123%) ; border-radius: 100px"
          type="button" class="btn btn-primary">Get early access</button>

      </div>
      <div style="text-align:center ;  font-size:26px; line-height: 1.42;color:#ffffff;font-family: 'Montserrat' ">
        Download Now :)
      </div>
      <div style="text-align:center ;  font-size:12px; line-height: 1.88;color:#677897;font-family: 'Montserrat'">
        Sign up to recieve the download link in your mailbox
      </div>
      <div style="padding-top:5%">
        <img src="../assets/signup.png" class="img-fluid signup">


      </div>
      <div style="padding-top: 5%">
        <button style="border-radius: 100px ; border-color: plum; background-color: #132638" type="button" class="btn btn-primary">Know
          more</button>

      </div>


    </div>

  </div>

  <div class="container seventh">
    <div style="border-top : solid 1px #3b5a78 " class="row">
      <div class="col-sm-8">

      </div>
      <div class="col-sm-4">

      </div>
    </div>
  </div>


</div>

<router-outlet></router-outlet>